<!--footer to be included in all pages-->
<footer class="p-2 bg-dark text-white text-center position-bottom">
  <div class="container text-md-left bg-dark">
    <ul class="list-group list-group-flush bg-dark">
      <li class="list-group-item bg-dark">
        <span class="mb-0 fw-semibold fs-5 text-warning "> mySmartHome</span>
      </li>
      <li class="list-group-item bg-dark text-light fw-light fs-7">
        <span>CM2040 midterm </span>
      </li>
      </li>
    </ul>
    <a href="" class="position-absolute end-0 pb-0 pr-5">
      <i class="bi bi-arrow-up-circle-fill text-light h2"></i>
    </a>
  </div>

  <p>Copyright &copy; 2022 </p>
</footer>