<!-- nav bar menu to be included in all pages-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand h2 fst-italic fw-light"> <i class='fa-solid fa-leaf' style='color: white'></i>
            mySmartHome</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/add-device" class="nav-link">Add device</a>
                </li>
                <li class="nav-item">
                    <a href="/device-status" class="nav-link">Device status</a>
                </li>
                <li class="nav-item">
                    <a href="/control-device" class="nav-link">Control device</a>
                </li>
                <li class="nav-item">
                    <a href="/delete-device" class="nav-link">Delete device</a>
                </li>
            </ul>
        </div>
    </div>
</nav>