<!--error message is shown when an error occured-->
<!doctype html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body class="bg-dark text-light">


  <section class="pt-5">
    <div class="container justify-content-center">
      <main role="main" class="pb-3">
        <div class="row d-flex text-center mt-100">

          <h2> We are sorry ! <i class="bi bi-emoji-frown text-danger "></i></h2>
          <h3> <span class="text-danger"> Name of device is too long </span>Please try with different name ! </h3>
          <h4>we appreciate your understanding </h4>


      </main>
    </div>
  </section>
  <!--arrow left icon return to home page-->
  <div class="container justify-content-center g-3">
    <a href="/" class="">
      <button class="btn btn-dark text-light"><i class="bi bi-arrow-left-circle-fill text-light h3"></i> | return to
        home page</button>
    </a>
  </div>
  <!-- return to add-device page-->
  <div class="container justify-content-center g-3">
    <a href="/add-device" class="">
      <button class="btn btn-dark text-light"><i class="bi bi-plus-circle-fill text-success h3"></i> | Please try to add
        your device again </button>
    </a>
  </div>

</body>